POSTGRES_USER=postgres
POSTGRES_PASSWORD=strong_pass
DB_HOSTS=postgres,postgres
DB_PORTS=5432,5432
DB_NAMES=db1,db2
DB_USERS=user1,user2
DB_PASSWORDS=pass1,pass2
ADMIN_USERS=postgres
UNIX_SOCKET_MODE=1777